@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/HandleError.css">
</head>
<body>
    <div class="frem">
        <p>404</p>
        <h2>Look like you're lost</h2>
        <h5>The page you are looking for not available</h5>
        <a href="/">Go To Home</a>
    </div>
</body>
</html>