<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="~/css/modal.css">
</head>
<body>
    <section class="modal">
        <div class="modal__container">
            <img src="~/Images/gym.png" alt="" class="modal__img">
            <h2 class="modal__title"></h2>
            <p class="modal__paragraph"></p>
            <a href="#" class="modal__close">CERRAR</a>
        </div>
    </section>
</body>
</html>