@{
    Layout = null;
}
<style>
    .imgUser{
        width: 30px;
        height: 30px;
    }


</style>
<source>
    <img class="imgUser" src="~/Images/usuario.png" alt="img user"></img>
    <span>JAIR ALFONSO</span>
</source>