@model GymManager.Core.Members.Member
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/lib/jqueryui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/lib/jqueryui/jquery-ui.structure.min.css" rel="stylesheet" />
    <link href="~/lib/jqueryui/jquery-ui.theme.min.css" rel="stylesheet" />
}
@section Scripts{
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/views/memerbs/create.js"></script>

}

<div class="container">
    <h3 class="mt-5"Memver registration></h3>

    <form asp-action="Create">
        <div class="mb-3">
            <label asp-for="Name" class="form-label">First Name</label>
            <input type="text" class="form-control" asp-for="Name">
        </div>

        <div class="mb-3">
            <label asp-for="LastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" asp-for="LastName">
        </div>
        <div class="mb-3">
            <label asp-for="BirthDay" class="form-label">Date Of Birth</label>
            <input type="text" class="form-control" name="dateOfBirth" asp-for="BirthDay">
        </div>
        <div class="mb-3">
            <label asp-for="CityId" class="form-label">City</label>
            <select name="city" class="form-control" asp-for="CityId">
                    <option value="1">New York</option>
                    <option value="2">Los Angeles</option>
                    <option value="3">Chicago</option>
                    <option value="4">Houston</option>
                    <option value="5">Philadelphia</option>
                    <option value="6">Phoenix</option>
                    <option value="7">San Antonio</option>
                    <option value="8">San Diego</option>
                    <option value="9">Dallas</option>
                    <option value="10">San Francisco</option>
                    <option value="11">Boston</option>
                    <option value="12">Seattle</option>
                    <option value="13">Washington, D.C.</option>
                    <option value="14">Las Vegas</option>
                    <option value="15">Atlanta</option>
                    <option value="16">Miami</option>
                    <option value="17">Denver</option>
                    <option value="18">Austin</option>
                    <option value="19">Nashville</option>
                    <option value="20">Portland</option>


            </select>

        </div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label">Email Address</label>
            <input type="email" class="form-control" asp-for="Email">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" asp-for="AllowNewsletter">
            <label asp-for="AllowNewsletter" class="form-label">Subscrite to our newsletter?</label>
        </div>
        <button class="btn btn-primary mb-3" type="submit">Submit</button>
    </form>
</div>